.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    cursor: pointer;

    .item {
        width: 72px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .icon {
            width: 72px;
            height: 72px;

            display: flex;
            justify-content: center;

            border-radius: 15px;

            background-color: var(--white-color);

            img {
                width: 34px;
            }
        }

        .title {
            p {
                margin: 0;

                font-size: 12px;
                font-weight: 500;
                color: var(--black-color);
            }
        }
    }
}

@media screen and (max-width: 768px) {

}
