<div class="wrapper">
    <div class="item" (click)="changeRoute('/categories?category=barber-shops')">
        <div class="icon">
            <img src="../../../../assets/home-page/navigation/barber-shop.svg">
        </div>
        <div class="title">
            <p>Барбершопи</p>
        </div>
    </div>
    <div class="item" (click)="changeRoute('categories?category=coffee-shops')">
        <div class="icon">
            <img src="../../../../assets/home-page/navigation/coffee.svg">
        </div>
        <div class="title">
            <p>Кав'ярні</p>
        </div>
    </div>
    <div class="item" (click)="changeRoute('categories?category=restaurants')">
        <div class="icon">
            <img src="../../../../assets/home-page/navigation/restorauns.svg">
        </div>
        <div class="title">
            <p>Ресторани</p>
        </div>
    </div>
    <!-- <div class="item">
        <div class="icon">
            <img src="../../../../assets/home-page/navigation/delivery.svg">
        </div>
        <div class="title">
            <p>Доставка</p>
        </div>
    </div> -->
    <div class="item" (click)="changeRoute('categories?category=all')">
        <div class="icon">
            <img src="../../../../assets/home-page/navigation/enterprise.svg">
        </div>
        <div class="title">
            <p>Підприємства</p>
        </div>
    </div>
    <!-- <div class="item">
        <div class="icon">
            <img src="../../../../assets/home-page/navigation/entataiment.svg">
        </div>
        <div class="title">
            <p>Розваги</p>
        </div>
    </div> -->
</div>
