<div class="wrapper">
    <div class="information">
        <app-information [location]="this.location"></app-information>
    </div>
    <div class="services">
        <app-services [location]="this.location"></app-services>
    </div>
    <div class="reviews">
        <app-reviews></app-reviews>
    </div>
    <div class="description">
        <app-description [location]="this.location"></app-description>
    </div>
    <div class="recomendations">
        <app-recomendations></app-recomendations>
    </div>
</div>
