<div class="wrapper">
    <div class="title">
        <p>Ласкаво просимо до нашої спільноти</p>
    </div>

    <div class="statement">
        <p>Все, що вам потрібно для успіху, тепер зібрано в одному місці на нашому сайті міста!</p>
    </div>

    <div class="review">
        <div class="stars">
            <img src="../../../../assets/icons/star.svg" alt="star">
            <img src="../../../../assets/icons/star.svg" alt="star">
            <img src="../../../../assets/icons/star.svg" alt="star">
            <img src="../../../../assets/icons/star.svg" alt="star">
            <img src="../../../../assets/icons/star.svg" alt="star">
        </div>
        <div class="opinion">
            Цей сайт став незамінним ресурсом для пошуку місцевих послуг та товарів, а також для розвитку власного бізнесу. Вдячний за такий корисний інструмент!
        </div>
    </div>

    <div class="review-author">
        <div class="picture">
            <img src="../../../../assets/partnership-page/profile-picture.png" alt="author-pp">
        </div>
        <div class="name">
            <p>Віталій О.</p>
        </div>
    </div>
</div>
