<div class="recommendations">

    <div class="title">
        <p>UМісто рекомендує</p>
    </div>

    <div class="content">
        <div class="card">
            <div class="picture">
                <img src="../../../assets/promo/photo.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">

                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/promo/photo_2.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">

                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/promo/photo_3.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">

                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/promo/photo_4.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">

                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>
    </div>
</div>
