<div class="wrapper">
    <div class="content">
        <div class="title">
            <p>Акції та пропозиції</p>
            <p>Підпишіться, щоб першими отримувати сповіщення про нові акції</p>
        </div>
        <div class="action">
            <div class="field">
                <input type="email" id="email" placeholder="введіть свій email">
                <p class="extra-phone">Ми дбаємо про ваші дані в <a href="#">нашій політиці конфіденційності</a></p>
                <button>Підписатися</button>
            </div>
            <div class="extra-desk">
                <p>Ми дбаємо про ваші дані в <a href="#">нашій політиці конфіденційності</a></p>
            </div>
        </div>
    </div>
</div>
