<div class="wrapper">
    <div class="title">
        <p>UМісто-новини</p>
    </div>

    <div class="content">
        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/news/photo1.png">
            </div>

            <div class="news-title">
                <p>Дивуй близьких оригінальним подарунком!</p>
            </div>
            <div class="extra">
                <div class="extra-icon">
                    <img src="../../../assets/icons/fire.svg">
                </div>
                <div class="extra-text">
                    <p>Cертифікат на послуги від наших партнерів</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/news/photo2.png">
            </div>

            <div class="news-title">
                <p>Новий заклад на метро Олімпійська вже відкрито!</p>
            </div>
            <div class="extra">
                <div class="extra-icon">
                    <img src="../../../assets/icons/fire.svg">
                </div>
                <div class="extra-text">
                    <p>Встигни поки діють знижки для перших замовлень</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/news/photo3.png">
            </div>

            <div class="news-title">
                <p>«ЗІРКА СХОДИТЬ» новий проєкт у united24 </p>
            </div>
            <div class="extra">
                <div class="extra-icon">
                    <img src="../../../assets/icons/fire.svg">
                </div>
                <div class="extra-text">
                    <p>Допомагай країні перемогти ворога!</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/news/photo4.png">
            </div>

            <div class="news-title">
                <p>«ЗАГАДКОВІ ВАРІАЦІЇ» вистава у молодий театр</p>
            </div>
            <div class="extra">
                <div class="extra-icon">
                    <img src="../../../assets/icons/fire.svg">
                </div>
                <div class="extra-text">
                    <p>Встигни! Обмежена кількість місць</p>
                </div>
            </div>
        </div>
    </div>
</div>
