.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .categories {
        nz-segmented {
            padding: 10px;
            border-radius: 20px;

            ::ng-deep .ant-segmented-group {
                align-items: center;
                flex-wrap: wrap;
            }

            ::ng-deep .ant-segmented-item-label {
                padding: 0 20px;
            }

            ::ng-deep .ant-segmented-item-selected {

                border-radius: 15px;
                background-color: #ffffff;
            }

        }


    }
}



@media screen and (max-width: 1440px){
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
}


