<div class="wrapper">
    <div class="categories">
        <div class="category" (click)="changeRoute('/categories')">
            <p>Всі</p>
        </div>
        <div class="category" (click)="changeRoute('/restaurants')">
            <p>Ресторани</p>
        </div>
        <div class="category" (click)="changeRoute('/coffee-shops')">
            <p>Кав'ярні</p>
        </div>
        <div class="category" (click)="changeRoute('/barber-shops')">
            <p>Барбершопи</p>
        </div>
        <div class="category" (click)="changeRoute('/mreo')">
            <p>МРЕО</p>
        </div>
        <div class="category" (click)="changeRoute('/court')">
            <p>СУД</p>
        </div>
    </div>

    <div class="parameters">
        <div class="option">
            <p>Миттєве бронювання</p>
            <label class="switch-button">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="option">
            <p>Зі знижками</p>
            <label class="switch-button">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>
