<div class="wrapper">
    <div class="title">
        <p>Довідник міста</p>
    </div>

    <div class="information">
        <div class="header">
            <p>Назва</p>
            <p>Адреса</p>
            <p>Телефон</p>
            <p>Пошта</p>
            <p>Графік роботи</p>
        </div>

        <div class="content">
            @for (item of referenceBookList(); track $index) {
                <div class="item">
                    <div class="name">
                        <div class="icon">
                            <img src="../../../assets/icons/document.svg">
                        </div>
                        <div class="label">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                    <div class="addresses">
                        @for (address of item.addresses; track $index) {
                            <p>{{address}}</p>
                        }
                    </div>
                    <div class="phone">
                        <p>{{item.phone_number}}</p>
                    </div>
                    <div class="email">
                        <p>{{item.email}}</p>
                    </div>
                    <div class="schedule">
                        <p>{{item.schedule}}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
