<div class="wrapper">
    <div class="title">
        <p>Довідник міста</p>
    </div>

    <div class="information">
        <div class="header">
            <p>Назва</p>
            <p>Адреса</p>
            <p>Телефон</p>
            <p>Пошта</p>
            <p>Графік роботи</p>
        </div>

        <div class="content">
            <div class="item">
                <div class="name">
                    <div class="icon">
                        <img src="../../../assets/icons/document.svg">
                    </div>
                    <div class="label">
                        <p>Територіальний центр соціального обслуговування (надання соціальних послуг) Голосіївського району</p>
                    </div>
                </div>
                <div class="address">
                    <p>01032 м. Київ, вул. Льва Толстого, 25/2</p>
                </div>
                <div class="phone">
                    <p>235-00-40</p>
                </div>
                <div class="email">
                    <p>center&commat;tcso.gov.ua</p>
                </div>
                <div class="schedule">
                    <p>Понеділок - четверг з 09-00 до 16-00</p>
                </div>
            </div>

            <div class="item">
                <div class="name">
                    <div class="icon">
                        <img src="../../../assets/icons/document.svg">
                    </div>
                    <div class="label">
                        <p>Територіальний центр соціального обслуговування (надання соціальних послуг) Голосіївського району</p>
                    </div>
                </div>
                <div class="address">
                    <p>01032 м. Київ, вул. Льва Толстого, 25/2</p>
                </div>
                <div class="phone">
                    <p>235-00-40</p>
                </div>
                <div class="email">
                    <p>center&commat;tcso.gov.ua</p>
                </div>
                <div class="schedule">
                    <p>Понеділок - четверг з 09-00 до 16-00</p>
                </div>
            </div>

            <div class="item">
                <div class="name">
                    <div class="icon">
                        <img src="../../../assets/icons/document.svg">
                    </div>
                    <div class="label">
                        <p>Територіальний центр соціального обслуговування (надання соціальних послуг) Голосіївського району</p>
                    </div>
                </div>
                <div class="address">
                    <p>01032 м. Київ, вул. Льва Толстого, 25/2</p>
                </div>
                <div class="phone">
                    <p>235-00-40</p>
                </div>
                <div class="email">
                    <p>center&commat;tcso.gov.ua</p>
                </div>
                <div class="schedule">
                    <p>Понеділок - четверг з 09-00 до 16-00</p>
                </div>
            </div>
        </div>
    </div>
</div>
