<div class="wrapper">
    <div class="item">
        <p>4,000+</p>
        <p>Бізнесів</p>
        <p>Ми допомогли більш ніж 4000 дивовижним компаніям.</p>
    </div>
    <div class="item">
        <p>60%</p>
        <p>Більше залученості</p>
        <p>Наші клієнти в середньому збільшили залученість на 60%.</p>
    </div>
    <div class="item">
        <p>10k</p>
        <p>Користувачів</p>
        <p>Нашою платформою користуються більше ніж 10 тисяч користувачів.</p>
    </div>
    <div class="item">
        <p>200+</p>
        <p>5ти зіркових відгуків</p>
        <p>Ми пишаємося нашим 5-зірковим рейтингом з більш ніж 200 відгуками.</p>
    </div>
</div>
