.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            margin: 0;
        }
        p:first-child {
            font-size: 26px;
            color: var(--black-color);
        }
        p:last-child {
            font-size: 16px;
            color: var(--dark-gray-color);
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .field {
            display: flex;
            flex-direction: column;
            gap: 11px;

            label {
                font-size: 16px;
                color: var(--black-color);
            }
            input {
                width: 100%;
                max-width: 720px;
                height: 60px;

                border-radius: 12px;
                border: 1px solid var(--light-gray-color);
            }
            input:focus {
                border: 1px solid var(--purple-color);
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 720px;
        max-width: 720px;

        .form-actions {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .minor-actions {
                display: flex;
                justify-content: space-between;


                .remember-me {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        width: 20px;
                        height: 20px;

                        border: 1px solid var(--light-gray-color);
                        border-radius: 5px;

                        cursor: pointer;
                    }
                    label {
                        font-size: 14px;
                        font-weight: 600;
                        color: var(--black-color);
                    }
                }
                .forgot-password {
                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: var(--purple-color);

                        cursor: pointer;
                    }
                }
            }

            .submit {
                button {
                    width: 100%;
                    max-width: 720px;
                    height: 64px;

                    font-size: 14px;
                    color: var(--white-color);

                    border: none;
                    border-radius: 10px;
                    background-color: var(--purple-color);

                    cursor: pointer;
                    user-select: none;
                }
                button:hover {
                    transition: 0.2s;
                    background-color: var(--purple-hover-color);
                }
            }
        }

        .auth-actions {
            display: flex;
            flex-direction: column;
            gap: 52px;

            .google-auth {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    padding: 10px 15px;

                    border: none;
                    background-color: rgba($color: #FFFFFF, $alpha: 0);

                    .picture {
                        width: 24px;
                        height: 24px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .title {
                        font-size: 14px;
                        font-weight: 600;
                        color: var(--black-color);
                    }
                }
            }
            .register {
                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--dark-gray-color);

                    span {
                        color: var(--purple-color);

                        cursor: pointer;
                    }
                }
            }
        }
    }
}
