.card {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--light-gray-color);

    .pictures {
        width: 30%;
        min-width: 320px;

        display: flex;
        flex: 1;

        img {
            width: 100%;
            height: 100%;

            border-radius: 10px;
        }
    }

    .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 2;

        &_description {

            p {
                color: var(--black-color);
            }

            p:nth-child(1) {
               font-size: 24px;
            }

            p:nth-child(2) {
                font-size: 14px;
                color: var(--gray-color);
                padding-bottom: 46px;
            }

            p:nth-child(3) {
                font-size: 14px;
            }
        }

        &_suggestions {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-right: 20px;

            .suggestion {
                width: 100%;
                padding: 10px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                border-radius: 8px;
                background-color: var(--white-color);

                .name {
                    display: flex;
                    flex: 5;

                    p {
                        font-size: 14px;
                        color: var(--black-color);
                    }
                }

                .prices {
                    display: flex;
                    flex: 1;
                    gap: 20px;

                    p {
                        font-size: 14px;
                        color: var(--black-color);

                    }
                }

                .action {
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;

                    button {
                        width: 150px;
                        height: 40px;

                        cursor: pointer;

                        color: var(--white-color);

                        border: none;
                        border-radius: 100px;
                        background-color: var(--purple-color);
                    }

                    button:hover {
                        transition: 0.2s;
                        background-color: var(--purple-hover-color);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .card {
        flex-direction: column;

        .pictures {
            width: 100%;
        }

        .info {
            &_description {
                p:nth-child(2) {
                    font-size: 20px;
                }
            }

            &_suggestions {
                .suggestion {
                    gap: 0;

                    .name {
                        flex: 2;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 756px) {
    .card {

        .pictures {
            width: 100%;
        }

        .info {
            &_suggestions {
                .suggestion {
                    flex-direction: column;
                    align-items: center;
                    gap: 0;
                }
            }
        }
    }
}
