<div class="wrapper">
    <div class="title">
        <p>Останні пропозиції</p>
    </div>
    <div class="content">
        <div class="content-wrapper">
            <div class="card card1">
                <div class="picture">
                    <img src="../../../../assets/offers-page/newest-offers/image.png">
                </div>
                <div class="description">
                    <p>Барбершоп BARRACUDA</p>
                    <p>Приведи друга і отримай знижку 50% на наступний візит</p>
                    <p>Запрошуй друзів та насолоджуйся неймовірною знижкою 50% на твій наступний візит! Не упусти шанс поділитися враженнями та заощадити разом з нами.</p>
                    <p>13/02/2023</p>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="card card2">
                <div class="picture">
                    <img src="../../../../assets/offers-page/newest-offers/image2.png">
                </div>
                <div class="description">
                    <p>Салон краси “Свобода”</p>
                    <p>Знижка  - 20% на манікюр до Дня Всіх Закоханих</p>
                    <p>Подаруй собі трішки краси та вишуканості в цей особливий день.</p>
                    <p>07/02/2023</p>
                </div>
            </div>

            <div class="card card2">
                <div class="picture">
                    <img src="../../../../assets/offers-page/newest-offers/image3.png">
                </div>
                <div class="description">
                    <p>Нова Пошта</p>
                    <p>Замовляй дві посилки - плати за одну!</p>
                    <p>Економія та зручність у кожній доставці з нами.</p>
                    <p>17/01/2023</p>
                </div>
            </div>
        </div>
    </div>
</div>
