<div class="wrapper">
    <div class="news-card">
        <div class="picture">
            <img [src]="newsData().image" alt="зображення {{newsData().name}} таке типу">
        </div>

        <div class="content">
            <p>{{newsData().name}}</p>
            <p>{{newsData().title}}</p>
            <p>{{newsData().info}}</p>
            <p>{{newsData().date}}</p>
        </div>
        <div class="actions">
            <button (click)="changeRoute(newsData().link)">
                <p>Перейти на сторінку закладу</p>
                <img src="../../../assets/icons/link-arrow-white.svg">
            </button>
        </div>
    </div>
</div>
