.wrapper {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:first-child {
            font-size: 26px;
            font-weight: 600;
            color: var(--black-color);
        }
        p:last-child {
            font-size: 14px;
            font-weight: 300;
            color: var(--purple-color);
            cursor: pointer;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        .card {
            max-width: 420px;

            display: flex;
            flex-direction: column;
            gap: 12px;

            .picture {
                img {
                    width: 100%;
                }
            }

            .info {
                .caption {
                    p {
                        font-size: 20px;
                        font-weight: 600;
                        color: var(--black-color);
                    }
                }

                .description {
                    p {
                        font-size: 16px;
                        color: var(--black-color);
                    }
                }

                .date {
                    p {
                        font-size: 14px;
                        color: var(--gray-color);
                    }
                }
            }
        }
    }
}
