.wrapper {
    padding: 84px 45px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .title {
        p {
            font-size: 32px;
            font-weight: 600;
            color: var(--black-color);
            margin: 0;
        }
    }

    .info {
        p {
            font-size: 16px;
            color: var(--black-color);
            a {
                font-size: 16px;
                color: var(--purple-color);

                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .wrapper {
        padding: 10px 15px;
    }
}
