<div class="wrapper">
    <div class="title">
        <p>{{title}} в Київ, Ukraine</p>
    </div>

    <div class="filter">
        <app-filter (selectedCategory)="indexCategory.set($event)"></app-filter>
    </div>

    <div class="content">
        <app-location-feed [index]="indexCategory()"></app-location-feed>
    </div>

    <div class="info">
        <p>UМісто - безкоштовний онлайн-сервіс новин, пошук фахівців та просто каталог цікавих локацій нашого прекрасного міста. Наша мета - допомогти вам швидко знайти найактуальнішу інформацію про будь яке місце чи подію в місті. <a>Детальніше</a></p>
    </div>
</div>
