<div class="wrapper">
    <div class="container">
        <div class="item">
            <p>&copy; 2024 uMісто, Inc.</p>
        </div>


        <div class="item container2">
            <div class="item">
                <div class="container">
                    <div class="item">
                        <p class="hover">Конфіденційність</p>
                    </div>

                    <div class="item">
                        <p class="hover">Cookie</p>
                    </div>

                    <div class="item">
                        <p class="hover">Правила</p>
                    </div>

                    <div class="item">
                        <p class="hover">Про нас</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <div>
                        <p>Шукайте нас в:</p>
                    </div>

                    <div class="container3">
                        <div>
                            <a href="#">
                                <img src="assets/icons/social-networks/facebook.svg" alt="fb">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="assets/icons/social-networks/instagram.svg" alt="inst">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="assets/icons/social-networks/youtube.svg" alt="yt">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="assets/icons/social-networks/telegram.svg" alt="tg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
