<div class="wrapper">
    <div class="title">
        <p>Актуальне цього тижня</p>
        <p (click)="changeRoute('/offers')">Дивитися більше</p>
    </div>

    <div class="content">
        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/relevant/picture1.png">
            </div>
            <div class="info">
                <div class="caption">
                    <p>Акції від салону краси</p>
                </div>
                <div class="description">
                    <p>Незамінний інструмент, що завжди працює, для залучення клієнтів у будь-якому бізнесі — акції. Вони приємно впливають на покупців, наприклад, відчуття</p>
                </div>
                <div class="date">
                    <p>2 листопада</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/relevant/picture2.png">
            </div>
            <div class="info">
                <div class="caption">
                    <p>Нові Донбурі від Naushi</p>
                </div>
                <div class="description">
                    <p>Теплий варений рис, хрусткий стейк зі свинини, обсмажений у фритюрі, маринована ламінарія, мариноване яйце, бенішога...</p>
                </div>
                <div class="date">
                    <p>2 листопада</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/relevant/picture3.png">
            </div>
            <div class="info">
                <div class="caption">
                    <p>Безкоштовний курс від УФС </p>
                </div>
                <div class="description">
                    <p>Ми інвестуємо, у великі ідеї УКРАЇНСЬКИЙ ФОНД СТАРТАПІВ</p>
                </div>
                <div class="date">
                    <p>2 листопада</p>
                </div>
            </div>
        </div>
    </div>
</div>
