.wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;

    // * {
    //     outline: 1px red solid;
    // }
    p {
        margin: 0;
        color: var(--black-color);
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        img {
            width: 25px;
            height: 25px;
        }
        p {
            font-size: 24px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .item {
            width: 100%;
            min-height: 58px;
            padding: 18px 26px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            background-color: var(--white-color);
            border-radius: 16px;

            .name {
                display: flex;
                flex-direction: row;
                align-items: center;
                p {
                    font-size: 14px;
                }
            }
            .price {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 40px;

                p {
                    font-size: 14px;
                }
                button {
                    padding: 8px 24px;

                    font-size: 13px;

                    color: var(--white-color);
                    background-color: var(--purple-color);

                    border: none;
                    border-radius: 100px;

                    cursor: pointer;
                    user-select: none;
                }
                button:hover {
                    transition: 0.2s;
                    background-color: var(--purple-hover-color);
                }
            }
        }
    }
}
