<div class="wrapper">
    <div class="title">
        <div class="rating">
            <p>5</p>
            <p>11 відгуків</p>
        </div>
        <div class="action">
            <button>Залишити відгук</button>
        </div>
    </div>

    <div class="reviews">
        <div class="review">
            <div class="user">
                <div class="picture">
                    <!-- Insert user picture here -->

                    <div class="pseudo-picture">
                        <p>Т</p>
                    </div>
                </div>

                <div class="name">
                    <p>Тоня</p>
                </div>
            </div>
            <div class="impression">
                <p>“Дуже гарне кафе, приємний та привітний персонал, зробили каву і мафін, все на вищому рівні 🔥🤩”</p>
            </div>
        </div>

        <div class="review">
            <div class="user">
                <div class="picture">
                    <!-- Insert user picture here -->

                    <div class="pseudo-picture">
                        <p>О</p>
                    </div>
                </div>

                <div class="name">
                    <p>Олена</p>
                </div>
            </div>
            <div class="impression">
                <p>“Дуже сподобалось. Все супер!”</p>
            </div>
        </div>
    </div>
</div>
