<div class="wrapper">
    <div class="container">
        <div class="item">
            <img src="assets/promo/banner1.svg" alt="promo">
        </div>
    </div>

    <div class="container">
        <div>
            <p>UМісто рекомендує</p>
        </div>

        <div class="flex-container">
            <div class="item item1">
                <div>
                    <img src="assets/promo/photo1.svg" alt="1">
                </div>
                <div>
                    <div>
                        <p>Бізнес-аналітик</p>
                    </div>
                    <div>
                        <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                    </div>
                    <div>
                        <span><img src="assets/icons/star.svg"></span>
                        <span>5</span>
                        <span> (16 відгуків)</span>
                    </div>
                    <div>
                        <p>Відгук: “Я залишилась дуже задоволена!! (майстер вищого класу!) Думаю що…</p>
                    </div>
                </div>
            </div>

            <div class="item item">
                <div>
                    <img src="assets/promo/photo2.svg" alt="1">
                </div>
                <div>
                    <div>
                        <p>Архітектор</p>
                    </div>
                    <div>
                        <p>Знання систем автоматизованого проектування, основами картографії</p>
                    </div>
                    <div>
                        <span><img src="assets/icons/star.svg"></span>
                        <span>5</span>
                        <span> (16 відгуків)</span>
                    </div>
                    <div>
                        <p>Відгук: “Я залишилась дуже задоволена!! (майстер вищого класу!) Думаю що…</p>
                    </div>
                </div>
            </div>

            <div class="item item3">
                <div>
                    <img src="assets/promo/photo3.svg" alt="1">
                </div>
                <div>
                    <div>
                        <p>Тестувальник</p>
                    </div>
                    <div>
                        <p>Вміння складати тести для ПЗ, знання методологій тестування, </p>
                    </div>
                    <div>
                        <span><img src="assets/icons/star.svg"></span>
                        <span>5</span>
                        <span> (16 відгуків)</span>
                    </div>
                    <div>
                        <p>Відгук: “Я залишилась дуже задоволена!! (майстер вищого класу!) Думаю що…</p>
                    </div>
                </div>
            </div>

            <div class="item item4">
                <div>
                    <img src="assets/promo/photo4.svg" alt="1">
                </div>
                <div>
                    <div>
                        <p>Системний адміністратор</p>
                    </div>
                    <div>
                        <p>Інсталювання, налаштування, діагностика, безпека, техпідтримка</p>
                    </div>
                    <div>
                        <span><img src="assets/icons/star.svg"></span>
                        <span>5</span>
                        <span> (16 відгуків)</span>
                    </div>
                    <div>
                        <p>Відгук: “Я залишилась дуже задоволена!! (майстер вищого класу!) Думаю що…</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
