<div class="wrapper">
    <div class="banner">
        <app-banner></app-banner>
    </div>

    <div class="recomendations">
        <app-recomendations></app-recomendations>
    </div>

    <div class="advertisement">
        <app-advertisement></app-advertisement>
    </div>

    <div class="news">
        <app-news></app-news>
    </div>

    <div class="relevant">
        <app-relevant></app-relevant>
    </div>

    <div class="about">
        <p>Про нас</p>
        <p>Ми виконали всю складну роботу за вас —  наш сайт зібрав усе найкраще, що може запропонувати наше місто: від затишних кав'ярень до інноваційних стартапів. Зручний пошук, детальні описи та відгуки допоможуть вам знайти саме те, що ви шукаєте. Долучайтеся до нашої спільноти, розвивайте свій бізнес або просто відкрийте нові місця та послуги в нашому місті. Ваш наступний крок до успіху починається тут!</p>
    </div>
</div>
