<div class="wrapper">
    <div class="title">
        <p>Усі акції та пропозиції</p>
    </div>
    <div class="content">
        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <div class="title">
                    <p>Знижка на замовлення для компаній від 5 людей</p>
                    <img src="../../../../assets/icons/link-arrow-black.svg">
                </div>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image2.png">
            </div>
            <div class="description">
                <p>Cafe LUX</p>
                <div class="title">
                    <p>Нова кав’ярня LUX на станції Золоті Ворота</p>
                    <img src="../../../../assets/icons/link-arrow-black.svg">
                </div>
                <p>Насолоджуйся вишуканим кавою та унікальною атмосферою в самому серці міста.</p>
                <p>24/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image3.png">
            </div>
            <div class="description">
                <p>Парк Твого Дозвілля</p>
                <div class="title">
                    <p>Фестиваль Фарб у Парку Твого Дозвілля</p>
                    <img src="../../../../assets/icons/link-arrow-black.svg">
                </div>
                <p>Поринь у світ неймовірних вражень, музики та кольорових емоцій разом з нами.</p>
                <p>18/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image4.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <div class="title">
                    <p>Знижка на замовлення для компаній від 5 людей</p>
                    <img src="../../../../assets/icons/link-arrow-black.svg">
                </div>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image5.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <div class="title">
                    <p>Знижка на замовлення для компаній від 5 людей</p>
                    <img src="../../../../assets/icons/link-arrow-black.svg">
                </div>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image6.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <div class="title">
                    <p>Знижка на замовлення для компаній від 5 людей</p>
                    <img src="../../../../assets/icons/link-arrow-black.svg">
                </div>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>
    </div>
    <div class="pagination">

    </div>
</div>
