<div class="wrapper">
    <div class="title">
        <p>Усі акції та пропозиції</p>
    </div>
    <div class="content">
        @for (item of newsList(); track $index) {
            <div class="card">
                <div class="picture">
                    <img [src]="item.image">
                </div>
                <div class="description">
                    <p>{{item.name}}</p>
                    <div class="title" (click)="changeRoute(item._id)">
                        <p>{{item.title}}</p>
                        <img src="../../../../assets/icons/link-arrow-black.svg">
                    </div>
                    <p>{{item.description}}</p>
                    <p>{{item.date}}</p>
                </div>
            </div>
        }
    </div>
    <div class="pagination">

    </div>
</div>
