<div class="wrapper">
    <div class="title">
        <p>Усі акції та пропозиції</p>
    </div>
    <div class="content">
        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../../assets/offers-page/all-offers/image1.png">
            </div>
            <div class="description">
                <p>Porter Pub</p>
                <p>Знижка на замовлення для компаній від 5 людей</p>
                <p>Чудова можливість зекономити та насолодитися якісним сервісом разом.</p>
                <p>15/01/2023</p>
            </div>
        </div>
    </div>
    <div class="pagination">

    </div>
</div>
