@import "ng-zorro-antd/ng-zorro-antd.css";

:root {
    --white-color: #F6F9FA;
    --light-gray-color: #E1E6E8;
    --blue-gray-color: #CBD5E1;
    --gray-color: #949C9F;
    --dark-gray-color: #52525B;
    --black-color: #1E1E1E;
    --black-hover-color: #1e1e1e7c;

    --purple-color: #8378D5;
    --purple-lite-color: #7266CA;
    --purple-hover-color: #736abd;
    --green-color: #6FD796;
    --green-hover-color: #54b177;
    --red-color: #FF6565;
}


body, html {
  padding: 0;
  margin: 0;

  font-family:  system-ui;
}
