<div class="recommendations">

    <div class="title">
        <p>UМісто рекомендує</p>
    </div>

    <div class="content">
        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/recomendations/photo.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">
                    <div class="star">
                        <img src="../../../../assets/icons/star.svg">
                    </div>
                    <div class="rating">
                        <p>5</p>
                    </div>
                    <div class="review-number">
                        <p>(16 відгуків)</p>
                    </div>
                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/recomendations/photo_2.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">
                    <div class="star">
                        <img src="../../../../assets/icons/star.svg">
                    </div>
                    <div class="rating">
                        <p>5</p>
                    </div>
                    <div class="review-number">
                        <p>(16 відгуків)</p>
                    </div>
                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/recomendations/photo_3.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">
                    <div class="star">
                        <img src="../../../../assets/icons/star.svg">
                    </div>
                    <div class="rating">
                        <p>5</p>
                    </div>
                    <div class="review-number">
                        <p>(16 відгуків)</p>
                    </div>
                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="picture">
                <img src="../../../assets/home-page/recomendations/photo_4.png">
            </div>

            <div class="info">
                <div class="description">
                    <p>Бізнес-аналітик</p>
                    <p>Взаємодія з співробітниками компанії, надання аналітичних висновків</p>
                </div>
                <div class="review">
                    <div class="star">
                        <img src="../../../../assets/icons/star.svg">
                    </div>
                    <div class="rating">
                        <p>5</p>
                    </div>
                    <div class="review-number">
                        <p>(16 відгуків)</p>
                    </div>
                </div>
                <div class="latest-review">
                    <p><strong>Відгук:</strong> “Я залишилась дуже задоволена (мастер вищого класу! ) Думаю, що…</p>
                </div>
            </div>
        </div>
    </div>
</div>
